@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
ul {
    list-style: none;
}
.active a{
    color: #fc036b;
    text-decoration: underline;
    font-weight: bold;
}

header{
    width: 100vw;
    height: 100vh;
    background-image: url('abanner.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header-content h2{
    font-size: 4vmin;
}
.header-content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}
.line{
    width: 150px;
    height: 4px;
    background-color: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;  
}
.ctn{
    padding: 8px 15px;
    background:#fc036b;
    border-radius: 30px;
    color: whitesmoke;
}

body, html{
    overflow-x: hidden;
}

/* *******************************************Navbar******************************* */
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}
.nav-links{
    display: flex;
    align-items: center;
}
.nav-links li{
    margin: 0 30px;
}

/*************************************** Events *****************************************************/

section{
    width: 80%;
    margin: 80px auto;
}
.title{
    text-align: center;
    font-size: 4vmin;
    color:#49497e;
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .col img{
    width: 90%; 
    border-radius: 15px;
}
.row .col{
    flex-direction: column;
    display: flex;  
    align-items: center; 
    text-align: center;   
}
.events .row{
    margin-top: 50px;
}
h4{
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
}
p{
    color:#515151;
    padding: 0px 40px;
}
.events .ctn{
    margin-top: 30px;
}

/********************************************** Explore*********************** */
.explore{
    width: 100%;
    height: 100vh;
    background-image: url(4adventure.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.explore-content{
    width: 60%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.explore-content h1{
    font-size: 7vmin;
    margin: 50px;
}
.explore-content p{
    color: wheat;
}
.explore-content .ctn{
    margin-top: 40px;
}
/************************************************** Tours *************************************************/
.content-cl {
    width: 40%;
}
.image-cl {
    width: 60%;
}
.tours .row .col .img{
    width: 50%;
}
.tours .img-gallery img{
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.img-gallery img{
    max-width: 300px;
    margin: 5px;    
}
.content-cl h1{
    font-size: 7vmin;
    color: #515151;
}
.content-cl .line{
    margin-left: -1px;
}
.content-cl p{
    padding: 0;
    margin-left:30px auto;
}
.content-cl .ctn{
    margin-left: -100px;
    margin-top: 10px;
}
/****************************************** Footer ************************************************************/
.footer{
    width: 100%;
    min-height: 150px;
    padding: 20px 80px;
    margin: 0;
    background: #484872;
    text-align: center;
}
.footer p{
    color: whitesmoke;
    margin: 20px auto;

}